<div id="main-modal-content">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pantone">
                <h4 class="modal-title">수정 또는 추가</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/news/store/" class="form actionForm"
                data-redirect="/admin/news" method="POST" accept-charset="utf-8">
                <input type="hidden" name="id" value="" />
                <div class="modal-body">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>구분</label>
                                <select name="type" class="form-control">
                                    <option value="새로운 서비스">새로운 서비스</option>
                                    <option value="서비스 비활성화">서비스 비활성화</option>
                                    <option value="서비스 업데이트">서비스 업데이트</option>
                                    <option value="알림">알림</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>시작</label>
                                <input type="text" name="start" value="" onkeydown="return false"
                                    class="form-control datepicker" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>종료</label>
                                <input type="text" name="end" value="" onkeydown="return false"
                                    class="form-control datepicker" />

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>내용</label>
                                <textarea name="description" cols="40" rows="10"
                                    class="form-control plugin_editor">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>상태</label>
                                <select name="status" class="form-control">
                                    <option value="활성화">활성화</option>
                                    <option value="비활성화">비활성화</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1">저장</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        plugin_editor('.plugin_editor', { height: 300 });
    });
</script>

<script>
    $(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            orientation: 'bottom',
            autoclose: true,
        });
        $(".datepicker").datepicker().datepicker("setDate", new Date());
        function truncateDate(date) {
            return new Date(date.getFullYear(), date.getMonth(), date.getDate());
        }
    });
</script>