<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en">
  <meta name="description" content="                                    ">
  <meta name="keywords" content="                                                           ">

  <title><%= process.env.EN_NAME %></title>

  <link rel="shortcut icon" type="image/x-icon"
    href="/assets/uploads/user54ceb91256e8190e474aa752a6e0650a2df5ba37/logo_white.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">


  <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  <script src="/assets/js/vendors/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" href="/files/auth/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/files/auth/vendors/css/vendor.bundle.base.css">

  <!-- Core -->
  <link rel="stylesheet" href="/files/auth/css/style.css">


  <!-- toast -->
  <link rel="stylesheet" type="text/css"
    href="/assets/plugins/jquery-toast/css/jquery.toast.css">


  <!-- AOS -->
  <link rel="stylesheet" href="/assets/plugins/aos/dist/aos.css" />
  <link href="/assets/css/footer.css" rel="stylesheet">

  <script type="text/javascript">
    var token = 'bb52e15b53a39e9bd5678e0fa7e3e8ef',
      PATH = '/',
      BASE = '/';
    var deleteItem = 'Are you sure you want to delete this item?';
    var deleteItems = 'Are you sure you want to delete all items?';
  </script>
</head>

<body class="">

  <div id="page-overlay" class="visible incoming">
    <div class="loader-wrapper-outer">
      <div class="loader-wrapper-inner">
        <div class="lds-double-ring">
          <div></div>
          <div></div>
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3 auth-login-form">
              <div class="brand-logo">
                <a href="/">
                  <img
                    src="/assets/uploads/user54ceb91256e8190e474aa752a6e0650a2df5ba37/logo_white.png"
                    alt="logo">
                </a>
              </div>
              <h4 style="font-weight: 700;"><%= process.env.EN_NAME %>에 오신 것을 환영합니다.</h4>
              <h6 class="font-weight-light" style="font-weight: 300;">서비스 이용을 위해 회원으로 가입해주세요.</h6>
              <form id="signin" class="pt-3 actionForm form" action="/ajax_sign_up"
                data-redirect="/login" method="POST">

                <div class="form-group">
                  <label for="exampleInputEmail">이름</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="ti-user text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-lg border-left-0" name="first_name"
                      placeholder="이름을 입력해주세요.">
                    <input type="text" class="form-control form-control-lg border-left-0" name="last_name" value="&#32;"
                      style="display: none;">
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail">이메일</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="ti-email text-primary"></i>
                      </span>
                    </div>
                    <input type="email" class="form-control form-control-lg border-left-0" name="email"
                      placeholder="이메일을 입력해주세요.">
                  </div>
                </div>



                <div class="form-group">
                  <label for="exampleInputPassword">비밀번호</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="ti-lock text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control form-control-lg border-left-0" name="password"
                      placeholder="비밀번호를 입력해주세요." value="">
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword">비밀번호 확인</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="ti-lock text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control form-control-lg border-left-0" name="re_password"
                      placeholder="비밀번호를 한 번 더 입력해주세요." value="">
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword">추천인 코드 (없으시면 공란)</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="ti-face-smile text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-lg border-left-0" name="referral" value=""
                      placeholder="추천인이 있을 경우 추천 번호를 입력해주세요.">
                  </div>
                </div>

                <select name="timezone" class="form-control square">
                  <option value="Asia/Seoul" selected>(UTC +09:00) Asia/Seoul</option>
                </select>

                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="text-muted">
                      <input type="checkbox" name="terms" checked="checked">
                      <a href="https://inssalife82.com/terms">이용약관 및 개인정보처리방침</a>에 동의합니다.
                    </label>
                  </div>
                </div>

                <div class="my-3 form-footer">
                  <button type="submit"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">회원가입</button>
                </div>

                <div class="mt-4 font-weight-light">
                  이미 가입하셨다면 바로 <a href="/login" class="text-primary">로그인</a>해주세요.
                </div>

              </form>

            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="font-weight-medium text-center flex-grow align-self-end">&copy; <strong><%= process.env.EN_NAME %></strong></p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>


  <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/vendors/jquery.sparkline.min.js"></script>
  <script src="/assets/js/core.js"></script>
  <!-- toast -->
  <script type="text/javascript"
    src="/assets/plugins/jquery-toast/js/jquery.toast.js"></script>

  <script src="/assets/plugins/aos/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>

  <script src="/assets/js/process.js"></script>
  <script src="/assets/js/general.js"></script>
  <script>
    $(document).ready(function () {
      var is_notification_popup = "0"
      setTimeout(function () {
        if (is_notification_popup == 1) {
          $("#notification").modal('show');
        } else {
          $("#notification").modal('hide');
        }
      }, 500);
    });
  </script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>